@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

[data-effect='slide-in-up'] {
    opacity: 0;

    &.animated {
        opacity: 1;
        animation-duration: 0.75s;
        animation-name: slideInUp;
    }
}

[data-effect='slide-in-left'] {
    opacity: 0;

    &.animated {
        opacity: 1;
        animation-duration: 0.75s;
        animation-name: slideInLeft;
    }
}

[data-effect='slide-in-right'] {
    opacity: 0;

    &.animated {
        opacity: 1;
        animation-duration: 0.75s;
        animation-name: slideInRight;
    }
}

[data-effect='slide-in-down'] {
    opacity: 0;

    &.animated {
        opacity: 1;
        animation-duration: 0.75s;
        animation-name: slideInDown;
    }
}